# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.tanstack
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# tauri
/target/
/WixTools/

# rust
**/*.rs.bk
*.pdb

# misc
.DS_Store
Thumbs.db
Desktop.ini
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
logs/

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# temp files
*.tmp
*.temp
.cache/
