.tabs {
	position: relative;
	&:after {
		content: " ";
		display: table;
		clear: both;
	}

	& .tabs__tab {
		text-align: center;
		&[data-state="active"]:first-child ~ .tabs__indicator {
			transform: translateX(0) scaleX(0.333);
		}
		&[data-state="active"]:nth-child(2) ~ .tabs__indicator {
			transform: translateX(33.333%) scaleX(0.333);
		}
		&[data-state="active"]:nth-child(3) ~ .tabs__indicator {
			transform: translateX(calc(33.333% * 2)) scaleX(0.333);
		}
	}

	& .tabs__indicator {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		transform-origin: 0 0;
		transition: transform 0.25s;
	}
}
